* {
    background-color: #222831;
    color: #ffff;
    font-family: 'Roboto';
}

.about {
    left: 100px;
    position: absolute;
    font-style: Ribeye;
    font-size: 27px;
    text-align: justify;
    width: 700px;
    height: 502px;
    color: #FBD46D;
}

.image {
    position: absolute;
    left: 800px;
    right: 0px;
}

.image2 {
    position: absolute;
    left: 800px;
    right: 0px;
}

.content {
    position: absolute;
    left: 770px;
    right: 0px;
    padding: 30px;
}

.community {
    position: absolute;
    left: 0px;
    width: 500px;
}

.about .down {
    position: absolute;
    right: -300px;
    width: 500px;
}

.our {
    font-family: 'Roboto' sans-serif;
}

img {
    border-radius: 500px;
}

nav>a {
    padding: 10px;
    margin-top: auto;
    margin-right: 0%;
    font-size: 50px;
    text-align: center;
    font-family: 'roboto';
}

nav>a:hover {
    color: maroon;
}

nav>a>button:hover {
    color: red;
    background-color: yellow;
    box-shadow: 10px 10px 8px 10px #888888;
}

button {
    font-size: 40px;
    margin-right: auto;
}