@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-sizing: border-box;
}

h2 {
    color: navy;
    text-align: center;
}

body {
    background-image: url(/pictures/img2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.wrapper {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 20px;
}

.form {
    max-width: 550px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    background-color: #e8e8e8;
}

.input {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    width: 48%;
    font-weight: 700px;
}

.msg textarea {
    width: 48%;
    height: 150px;
}

.input,
.msg textarea {
    margin: 10px 0;
    opacity: 0.6;
    border-bottom: 2px solid black;
    padding: 10px;
    width: 100%;
    color: black;
}

.button {
    color: yellow;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

nav>a {
    padding: 10px;
    margin-top: auto;
    margin-right: 0%;
    font-size: 50px;
    text-align: center;
    font-family: 'roboto';
}

nav>a:hover {
    color: maroon;
}

nav>a>button:hover {
    color: red;
    background-color: yellow;
    box-shadow: 10px 10px 8px 10px #888888;
}

button {
    font-size: 40px;
    margin-right: auto;
}