*{
    background-color:rgb(228, 225, 211);
}
header{
    text-align: center;
    font-size: 70px;
    color:red;
    font-style:roboto;
}
p{
    font-style: roboto;
    font-size: 19px;
    text-align:left;
}
.partners{
border-style: dashed;
border-width: 1px;
border-radius: 20px;
}
h1{
font-style: roboto;
font-size:20px;
text-align: center;
color:red;
}
.first{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
footer{
    color:red;
    font-style:italic;
    font-size: 30px;
    text-align: center;
}